{% extends "./base.html.twig" %}

{% block body %}
	<div class="md:grid lg:grid-cols-3 gap-2 w-4/5 mx-auto my-20">
		<img src="{{ asset('images/events/4.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/1.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/2.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/3.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/7.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/5.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
		<img src="{{ asset('images/events/6.jpeg') }}" alt="" class="shadow-xl rounded-md" width="400"/>
	</div>
{% endblock %}
