{% extends "./base.html.twig" %}

{% block body %}
	<twig:BannersTop/>

	<div class="w-4/5 m-auto my-12">
		{{ form_start(form) }}

		<div class="form-control">
			<div class="mb-2 font-extrabold">{{ form_label(form.price, 'Таны нэр') }}</div>

			<div class="mb-2">
				{{ form_widget(form.price) }}
			</div>

			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>

		<div class="form-control">
			<div class="mb-2 font-extrabold">{{ form_label(form.content, 'Зарын агуулга') }}</div>

			<div class="mb-2">
				{{ form_widget(form.content) }}
			</div>

			<div class="form-error">
				{{ form_errors(form.content) }}
			</div>
		</div>


		<button type="submit" class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-2 px-4 rounded-3xl">
			Хадгалах
		</button>

		{{ form_end(form) }}
	</div>

	<twig:BannersBottom/>
{% endblock %}
